
.cuca:active{
    color: brown;
}
.cuca{
    background: -o-linear-gradient(rgba(50, 50, 50, .0), rgba(50, 50, 50, .0), rgb(50, 50, 50, 0));
    background: -moz-linear-gradient(rgba(50, 50, 50, .0), rgba(50, 50, 50, .0), rgb(50, 50, 50, 0));
    background: -webkit-linear-gradient(rgba(50, 50, 50, .0), rgba(50, 50, 50, .0), rgb(50, 50, 50, 0));
    background: linear-gradient(rgba(50, 50, 50, .0), rgba(50, 50, 50, .0), rgb(50, 50, 50, 0));
    border:none;
    outline:none;
}

.body{
  background: dimgrey;
}
.bar{
    position: absolute;
    display:flex;
    flex-direction: row;
    height: 35px;
    width:100%;
    background-color: rgba(248, 246, 246, 0.2);
}
.button{
    height:25px;
    margin-top:5px;
    margin-left: 25px;
}
.barText{
    margin-top:5px;
    margin-left: 25px;
}
@media (max-width: 600px) {
    .bar{
        height: 45px;
    }    
    .button{
        margin-top:10px;

    }
    .barText{
        margin-top:5px;
    }
}

@media (min-width: 800px) {
  .container{
    min-height: 100vh; 
    min-width: 100vh; 
    color:black;
    background-color: rgb(7, 6, 6);
  }
  #follower {
    position: fixed;
    top: 50%;
    left: 50%;
  }
  #follower #circle1 {
    position: fixed;
    -webkit-animation: pulse 2s infinite; /* Chrome, Safari, Opera */
    animation: pulse 5s infinite;
    background: rgba(243, 219, 153, 0.5);
    border-radius: 50%;
    height: 0em;
    width: 0em;
    margin-top: 0em;
    margin-left: 0em;
  }
  @keyframes pulse {
    0% {
      opacity: 0.2;
      height: 4em;
      width: 4em;
      margin-top: -3em;
      margin-left: -3em;
    }
    50% {
      opacity: 0.9;
      height: 7em;
      width: 7em;
      margin-top: -3em;
      margin-left: -3em;
    }
    100% {
      opacity: 0.2;
      height: 4em;
      width: 4em;
      margin-top: -3em;
      margin-left: -3em;
    }
  }
}


